# Editor-related
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Testing stuff
test/
*.json
*.db
.backup.d
data/
*_scratch_*
bin/*
*daemon_test.c
*.out
*.md5sum
exe/test-something.py
