<!-- connectionsTable.html -->
<table class="connectionsTable">

<thead>
	<tr>
		<th class="Family" onclick="sortTable(this, 0)">Family</th>
		<th class="Protocol" onclick="sortTable(this, 1)">Protocol</th>
		<th class="Address" onclick="sortTable(this, 2)">Local Address</th>
		<th class="Port" onclick="sortTable(this, 3)">Local Port</th>
		<th class="Address" onclick="sortTable(this, 4)">Remote Address</th>
		<th class="Port" onclick="sortTable(this, 5)">Remote Port</th>
		<th class="State" onclick="sortTable(this, 6)">State</th>
		<th class="StateBits" onclick="sortTable(this, 7)">State Bits</th>
	</tr>
</thead>

<tbody>
	{% for connection in entry.connections %}
	<tr>
		<td class="Family">{{ connection.family }}</td>
		<td class="Protocol">{{ connection.proto }}</td>
		<td class="Address">{{ connection.localAddr }}</td>
		<td class="Port">{{ connection.localPort }}</td>
		<td class="Address">{{ connection.remoteAddr }}</td>
		<td class="Port">{{ connection.remotePort }}</td>
		<td class="State">{{ connection.state }}</td>
		<td class="StateBits">{{ connection.state_bits }}</td>
	</tr>
	{% endfor %}
</tbody>

</table>
