/* styles.css */
.sticky-header {
    background-color: #ddd;
    padding: 1px;
    color: #000;
    /* position: sticky;
    top: 0;
    z-index: 100; */
}

table {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
}
th, td {
    border: 1px solid #ddd;
    padding: 1px;
}
th {
    background-color: #fff;
    cursor: pointer;
    position: sticky;
    top: 1px;
    z-index: 99; /* Adjusted to be below the sticky-header */
}
th:hover {
    background-color: #ccc;
}

.table-container {
    margin: auto;
    display: none;
    padding: 0 1px;
    overflow: hidden;
    background-color: #eee;
}

.processesTable .PID {
    text-align: center;
    width: 1%;
}

.connectionsTable .Family {
    text-align: center;
    width: 5%;
}
.connectionsTable .Protocol {
    text-align: right;
    width: 5%;
}
.connectionsTable .Address {
    text-align: right;
    width: 25%;
}
.connectionsTable .Port {
    text-align: left;
    width: 10%;
}
.connectionsTable .State {
    text-align: left;
    width: 10%;
}
.connectionsTable .StateBits {
    text-align: left;
    width: 5%;
}

/* Adjusted styling for the first child */
#processesTable th:first-child,
.connectionsTable th:first-child,
#processesTable td:first-child,
.connectionsTable td:first-child {
    text-align: center;
    width: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Added a margin to the body to prevent content from being hidden under the sticky-header */
body {
    margin-top: 40px; /* Adjust the value based on the height of your sticky-header */
}
