/* styles.css */
table {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
}
th, td {
    border: 1px solid #ddd;
    /* text-align: left; */
    padding: 8px;
}
th {
    background-color: #fff;
    cursor: pointer;
    position: sticky;
    top: 0;
}
th:hover {
    background-color: #ccc;
}

.table-container {
    margin: auto;
    display: none;
    padding: 0 1px;
    overflow: hidden;
    background-color: #eee;
}

.processesTable .PID {
    text-align: center;
    width: 1%;
}

.connectionsTable .Family {
    text-align: center;
    width: 5%;
}
.connectionsTable .Protocol {
    text-align: right;
    width: 5%;
}
.connectionsTable .Address {
    text-align: right;
    width: 25%;
}
.connectionsTable .Port {
    text-align: left;
    width: 10%;
}
.connectionsTable .State {
    text-align: left;
    width: 10%;
}
.connectionsTable .StateBits {
    text-align: left;
    width: 5%;
}

/* #processesTable th:first-child, .connectionsTable th:first-child,
#processesTable td:first-child, .connectionsTable td:first-child {
    text-align: center;
    width: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
