/* styles.css */
table {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    cursor: pointer;
    position: sticky;
    top: 0;
}
th:hover {
    background-color: #ccc;
}
.table-container {
    margin: auto;
    display: none;
    padding: 0 1px;
    overflow: hidden;
    background-color: #f1f1f1;
}
#processTable th:first-child, .connectionsTable th:first-child,
#processTable td:first-child, .connectionsTable td:first-child {
    text-align: center;
    width: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
