/* styles.css */
table {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #fff;
    cursor: pointer;
    position: sticky;
    top: 0;
}

th:hover {
    background-color: #ccc;
}

.table-container {
    margin: auto;
    display: none;
    padding: 0 1px;
    overflow: hidden;
    background-color: #eee;
}

/* Process Table */
#processesTable th, #processesTable td {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#processesTable th:first-child,
#processesTable td:first-child {
    width: 5%;
}

/* Connections Table */
.connectionsTable th, .connectionsTable td {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.connectionsTable th:first-child,
.connectionsTable td:first-child {
    width: 5%;
}
