<!-- connectionsTable.html -->
<table class="connectionsTable">
    <thead>
        <tr>
            <th onclick="sortTable(this, 0)">Family</th>
            <th onclick="sortTable(this, 1)">Protocol</th>
            <th onclick="sortTable(this, 2)">Local Address</th>
            <th onclick="sortTable(this, 3)">Local Port</th>
            <th onclick="sortTable(this, 4)">Remote Address</th>
            <th onclick="sortTable(this, 5)">Remote Port</th>
            <th onclick="sortTable(this, 6)">State</th>
            <th onclick="sortTable(this, 7)">State Bits</th>
        </tr>
    </thead>
    <tbody>
        {% for connection in entry.connections %}
            <tr>
                <td>{{ connection.family }}</td>
                <td>{{ connection.proto }}</td>
                <td>{{ connection.localAddr }}</td>
                <td>{{ connection.localPort }}</td>
                <td>{{ connection.remoteAddr }}</td>
                <td>{{ connection.remotePort }}</td>
                <td>{{ connection.state }}</td>
                <td>{{ connection.state_bits }}</td>
                <!-- {% if connection.proto == 'tcp' %}
                    <td>{{ connection.state }}</td>
                {% else %}
                    <td>{{ connection.state_bits }}</td>
                {% endif %} -->
            </tr>
        {% endfor %}
    </tbody>
</table>
