<!-- processTable.html -->
<table id="processTable">
    <thead>
        <tr>
            <th onclick="sortTable(this, 0)">PID</th>
            <th onclick="sortTable(this, 1)">Executable</th>
            <th onclick="sortTable(this, 2)">Connections</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in process_list %}
            <tr>
                <td>{{ entry.process.pid }}</td>
                <td>{{ entry.process.executable }}</td>
                <td>
                    {% if entry.connections %}
                    {% include "connectionsTable.html" %}
                    {% else %}
                        No connections available.
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
